<footer>
	<p>Modern Art Gallery</p>
	<p>
		The Modern Art Gallery is free to all visitors and open seven days a week
		from <time datetime="8:00">8am</time> to <time datetime="21:00">9pm</time>.
		Find us at <address>99 King Street, Newport, USA.</address>
	</p>
	<ul>
		<li>
			<a href="/" aria-label="Facebook Icon">
				<i class="bx bxl-facebook-square"></i>
			</a>
		</li>
		<li>
			<a href="/" aria-label="Instagram Icon">
				<i class="bx bxl-instagram"></i>
			</a>
		</li>
		<li>
			<a href="/" aria-label="Twitter Icon">
				<i class="bx bxl-twitter"></i>
			</a>
		</li>
	</ul>
</footer>
