---
interface Props {
	isLocation: boolean;
}
const { isLocation } = Astro.props;
---

<footer
	class:list={[
		"footer",
		{
			"footer--index": !isLocation,
			"footer--location": isLocation,
		},
	]}
>
	<div class="footer__div-container">
		<p class="footer__p footer__p--title">
			<span class="p__span">Modern</span>Art Gallery
		</p>
		<div class="div__container-description">
			<p class="footer__p footer__p--description">
				The Modern Art Gallery is free to all visitors and open seven days a
				week from <time datetime="8:00">8am</time> to <time datetime="21:00"
					>9pm</time
				>. Find us at
			</p>
			<address class="container-description__address">
				99 King Street, Newport, USA.
			</address>
		</div>
		<ul class="footer__ul">
			<li class="ul__li">
				<a class="li__a" href="/" aria-label="Facebook Icon">
					<i class="bx bxl-facebook-square a__i"></i>
				</a>
			</li>
			<li class="ul__li">
				<a class="li__a" href="/" aria-label="Instagram Icon">
					<i class="bx bxl-instagram a__i"></i>
				</a>
			</li>
			<li class="ul__li">
				<a class="li__a" href="/" aria-label="Twitter Icon">
					<i class="bx bxl-twitter a__i"></i>
				</a>
			</li>
		</ul>
	</div>
</footer>

<style lang="scss">
	@import "../scss/functions.scss";
	@import "../scss/variables.scss";

	.footer {
		display: flex;
		justify-content: center;
		width: 100%;
		padding: em(48px) 0;
		.footer__div-container {
			display: flex;
			flex-direction: column;
			gap: em(38px);
			width: 91%;

			.footer__p--title {
				display: flex;
				flex-direction: column;
				font-size: rem(21px);
				line-height: 0.92;
				font-weight: 900;
				text-transform: uppercase;
			}

			.footer__p--description {
				font-size: rem(16px);
				line-height: 1.63;
			}

			.footer__ul {
				display: flex;
				gap: em(20px);
			}
		}
	}

	.div__container-description {
		.footer__p--description {
			display: inline;
		}

		.container-description__address {
			display: inline;
		}
	}

	.ul__li {
		.li__a {
			.a__i {
				font-size: rem(32px);
			}
		}
	}

	.footer.footer--index {
		background-color: var(--background-primary);
		.footer__p {
			color: var(--primary-color);
		}

		.div__container-description {
			color: var(--primary-color);
		}

		.footer__ul {
			color: var(--primary-color);
		}
	}

	.footer.footer--location {
		background-color: var(--background-secondary);
		.div__container-description {
			color: var(--secondary-color);
		}

		.footer__ul {
			color: var(--secondary-color);
		}
	}

	@media screen and (width >= $breakpoint-tablets) {
		.footer {
			padding: em(56px) 0;
			.footer__div-container {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				align-items: flex-start;
				justify-items: center;
			}
		}
	}

	@media screen and (width >= $breakpoint-desktops) {
		.footer {
			padding: em(80px) 0;
		}
	}
</style>
