<header>
	<h1>Art Gallery</h1>
	<picture>
		<source
			srcset="/images/desktop/image-hero@2x.jpg"
			media="(width >= 90em)"
		/>
		<source srcset="/images/tablet/image-hero@2x.jpg" media="(width >= 48em)" />
		<img
			src="/images/mobile/image-hero@2x.jpg"
			alt="Two people appreciating a drawing"
		/>
	</picture>
	<section>
		<h2>Modern Art Gallery</h2>
		<p>
			The arts in the collection of the Modern Art Gallery all started from a
			spark of inspiration. Will these pieces inspire you? Visit us and find
			out.
		</p>
		<a href="/location">Our location <span></span></a>
	</section>
</header>
