---
interface Props {
	title: string;
}

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="author" content="Brandon Agüero" />
		<meta name="robots" content="index,follow" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="icon"
			type="image/ico"
			href="https://res.cloudinary.com/dbbixakcl/image/upload/f_auto,q_auto/v1/FrontendMentor/Pod/s27vstgwj4exbbbnenpw"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link
			href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style lang="scss" is:global>
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	a {
	}

	body {
		font-family: "Outfit", sans-serif;
	}

	h1,
	h2,
	h3,
	h4 {
		font-family: "Big Shoulders Display", sans-serif;
	}
</style>
